[[#wizardInfos]]<div class="wizard_summary clearfix">[[#steps]]
    <div class="wizard_summary__step [[#current]]wizard_summary__step_current[[/current]]"
         data-viewid="[[cv_idview]]"
         style="width:calc(100% / [[nbSteps]])">
        <div class="wizard_summary__step__label [[#current]]wizard_summary__step__label_current[[/current]]"
             title="[[#i18n]]ddui_tuto:wizard::goto step[[/i18n]] [[cv_lview]]"
             data-viewid="[[cv_idview]]">[[cv_lview]]
        </div>
        <div class="wizard_summary__step__attributes">[[#attributes]][[#fields]]
            <div class="wizard_summary__step__attribute [[#required]]wizard_summary__step__attribute_required[[/required]] [[#filled]]wizard_summary__step__attribute_filled[[/filled]]"
                 data-viewid="[[cv_idview]]"
                 data-attrid="[[attrid]]"
                 data-attrlabel="[[label]]"
                 style="width: calc(100% / [[nbFields]])"
                 title="[[label]]">
            </div>
            [[/fields]][[/attributes]]
        </div>
    </div>
[[/steps]]</div>[[/wizardInfos]]
<nav class="dcpDocument__menu"></nav>