/******************************************************************************
 cadre identité
******************************************************************************/

/* masquage du label de la photo */
.dcpAttribute__label[data-attrid="dc_photo"]{
    display: none;
}
.dcpAttribute__label[data-attrid="dc_photo"]::after {
    content: none;
}

@media (min-width: 480px) {

    /* Positionnement de la photo à gauche */
    .dcpAttribute[data-attrid="dc_photo"] {
        float: left;
        width: 66px;
    }

    .dcpAttribute__content[data-attrid="dc_photo"] {
        padding: 0;
    }

    /* Restauration de la position initiale de tous les attributs autres que la photo */
    .dcpFrame__content[data-attrid=dc_fr_ident] .dcpAttribute:not([data-attrid="dc_photo"]) {
        float: right;
        width: calc(100% - 66px);
    }

    .dcpFrame__content[data-attrid=dc_fr_ident] label:not([data-attrid="dc_photo"]) {
        width: calc((100% / 3) - 44px);
    }
}

/******************************************************************************
 cadre Société
******************************************************************************/

@media (max-width: 1024px),
       (min-width: 1280px) {

    /* masquage du label du logo */
    .dcpAttribute__label[data-attrid="dc_logo"]{
        display: none;
    }
    .dcpAttribute__label[data-attrid="dc_logo"]::after {
        content: none;
    }
}

@media (min-width:480px) and (max-width:1024px),
       (min-width: 1280px) {

    /* Positionnement du logo à gauche */
    .dcpAttribute[data-attrid="dc_logo"] {
        float: left;
        width: 66px;
    }

    .dcpAttribute__content[data-attrid="dc_logo"] {
        padding: 0;
    }

    /* Restauration de la position initiale de tous les attributs autres que le logo */
    .dcpFrame__content[data-attrid=dc_fr_society] .dcpAttribute:not([data-attrid="dc_logo"]) {
        float: right;
        width: calc(100% - 66px);
    }

    .dcpFrame__content[data-attrid=dc_fr_society] label:not([data-attrid="dc_logo"]) {
        width: calc((100% / 3) - 44px);
    }
}

/******************************************************************************
 Positionnement côte à côte des cadres "Société" et "Coordonnées professionnelles"
******************************************************************************/
@media (min-width: 1024px) {
    .dcpFrame[data-attrid=dc_fr_society],
    .dcpFrame[data-attrid=dc_fr_coord] {
        float: right;
        width: calc(50% - 10px);
    }

    .dcpFrame[data-attrid=dc_fr_society] {
        float: left;
    }

    .dcpFrame[data-attrid=dc_fr_coord] {
        float: right;
    }
}