

.dc__main {
    font-size: 16px;
    padding-top: 20px;
}

.dc__coord {
    text-align: center;
}

.dc__coord .dcpCustomTemplate--content {
    display: inline-block;
}

.dc__coord .fa {
    font-size: 150%;
    vertical-align: top;
    padding-top: 0.2em;
    width: 2em;
    text-align: center;
}

.dcpAttribute[data-attrid="dc_workpostalcode"],
.dcpAttribute[data-attrid="dc_workcity"],
.dcpAttribute[data-attrid="dc_homepostalcode"],
.dcpAttribute[data-attrid="dc_homecity"] {
    float: left;
    display: inline-block;
    margin-right: 2px;
}


.dcpAttribute__content[data-attrid="dc_workpostalcode"],
.dcpAttribute__content[data-attrid="dc_workcity"],
.dcpAttribute__content[data-attrid="dc_homepostalcode"],
.dcpAttribute__content[data-attrid="dc_homecity"] {
    width: auto;
}

.dcpAttribute__label {
    display:none;
}

.panel-heading[data-attrid="dc_fr_workaddr"],
.panel-heading[data-attrid="dc_fr_homeaddr"] {
    font-size: 14px;
}

.collapseMore__icon::before {
    content: "\f0da"; /* fa-caret-right */
}

a:not(.collapsed) .collapseMore__icon::before {
    content: "\f0d7"; /* fa-caret-down */
}

.panel-title a:hover {
    text-decoration: none;
}

.dc__qrCode {
    margin-top: 10px;
    text-align: center;
}

@media (min-width:768px) {
    .dc__summary,
    .dc__qrCode {
        float: left;
    }
    .dc__summary {
        width: calc(100% - 210px);
        padding-right: 10px;
    }
    .dc__qrCode {
        width: 210px;
        text-align: right;
        margin-top: 0;
    }
}