<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="[DYNACASE_FAVICO]"/>
    <link rel="shortcut icon" href="[DYNACASE_FAVICO]"/>
    <title>[TEXT:SIMPLE_LIST:title] - [search_title]</title>
    <link rel="stylesheet" href="css/dcp/document/bootstrap.css?ws=[WS]">
    <link rel="stylesheet" href="SIMPLE_LIST/Layout/main.css?ws=[WS]">
</head>
<body>
<div class="container-fluid mainWrapper">
    <div class="listPart">
        <div class="list-header">
            <div class="list-title">
                [search_title]
            </div>

            <div class="list-menu btn-group" role="group">
                <a href="?app=DOCUMENT&viewId=!defaultCreation&initid=[family_id]"
                   class="btn btn-default button_create"
                   data-famid="[family_id]">
                    <span class="button_create__icon"></span>
                    <span class="button_create__label">[TEXT:SIMPLE_LIST:New] [family_title]</span>
                </a>
            </div>
        </div>

        <div class="list-group listPart__elements">

        </div>
    </div>
    <div class="contentPart">
        <div class="documentWrapper"></div>
    </div>
</div>
<div class="notConfigurated" style="display: none;">
    <div class="alert alert-info" role="alert">
        [TEXT:SIMPLE_LIST:There is an error in the configuration]
        [error]
    </div>
</div>
<script type="text/javascript">
    window.conf = window.conf || {};
    window.conf.searchName = "[search_name]";
    window.conf.searchTitle = "[search_title]";
    window.conf.familyName = "[family_id]";
    window.conf.familyTitle = "[family_title]";
</script>
<script type="text/javascript" src="lib/jquery/ddui/jquery.min.js?ws=[WS]"></script>
<script type="text/javascript" src="lib/underscore/underscore.js?ws=[WS]"></script>
<script type="text/javascript" src="DOCUMENT/IHM/widgets/widget.js?ws=[WS]"></script>
<script type="text/javascript" src="DOCUMENT/IHM/document.js?ws=[WS]"></script>
<script type="text/javascript" src="SIMPLE_LIST/Layout/main.js?ws=[WS]"></script>
<script type="text/javascript" src="SIMPLE_LIST/Layout/custom.js?ws=[WS]"></script>
</body>
</html>